<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="modal" class="modal fade" tabindex="-1" role="dialog" id="my_modal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Registro de Usuarios</h4>
	      </div>
	     <form th:action="@{/usuarios/regitro}" th:object="${usuario_reg}" >
		     <div class="modal-body">
				<!-- Username -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<i class="fa fa-id-card-o" aria-hidden="true"></i>
					</span>	
					<input class="form-control" type="text" id="username" placeholder="Usuario" th:field="*{username}"/>         
				</div>
				<!-- Rol -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</span>
					<select class="selectpicker form-control" id="rol" data-style="btn-info" data-live-search="true" th:field="*{rol}" >
						<option value="Administrador" selected>Administrador</option>
					</select>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</body>
</html>