<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/fragments/navbar :: headFragment (pageTitle='Actualizar Empresa')">
	<meta charset="UTF-8"/>
</head>
<body>
	<div layout:include="/fragments/navbar :: barra-navegacion"></div>
	<div class="container">

		<header>
			<h1>Actualizar Empresa: <strong><span th:text="${empresa_mod.nombreComercial}"></span></strong></h1>
		</header>
		<br></br>
		<!-- Formulario de Actualizacion de la empresa -->
		<form class="form-horizontal" th:action="@{/empresas/modify}" th:object="${empresa_mod}" method="post" enctype="multipart/form-data">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-form">
				<input type="hidden" th:value="*{codEmpresa}" th:field="*{codEmpresa}"/>
				<!-- Razon Social -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-briefcase"></span>
					</span>	
					<input class="form-control" type="text" id="rs_empresa" placeholder="Razón Social" th:value="*{rsEmpresa}" th:field="*{rsEmpresa}" readonly="readonly"/>            
				</div>
				<!-- Nombre Comercial -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-copyright-mark"></span>
					</span>
					<input class="form-control" type="text" id="nm_comercial" placeholder="Nombre Comercial" th:value="*{nombreComercial}" th:field="*{nombreComercial}"/>
				</div>
				<!-- RUC  -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-heart-empty"></span>
					</span>
					<input class="form-control" type="text" id="ruc_empresa" placeholder="RUC" th:value="*{rucEmpresa}" th:field="*{rucEmpresa}" readonly="readonly"/>
				</div>
				<!-- Teléfono -->                
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-phone-alt"></span>
					</span>
					<input class="form-control" type="text" id="telfEmpresa" placeholder="Teléfono" th:value="*{telfEmpresa}" th:field="*{telfEmpresa}" />
				</div>
				<!-- Direccion -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<input class="form-control" type="text" id="direccion" placeholder="Direccion" th:value="*{direccion}" th:field="*{direccion}"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<select class="selectpicker form-control" id="dist" data-style="btn-default" data-live-search="true" th:field="*{distrito}" >
						<option th:each="d : ${distritos}" th:value="${d.idDistrito}" th:text="${d.nomDistrito}" th:selected="${empresa_mod.distrito.nomDistrito == d.nomDistrito}"></option>
					</select>
				</div>                          
				<input class="btn btn-warning btn-block" type="submit" name="actualizar" value="Actualizar Empresa" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<img class="img-responsive imagen" th:src="@{'data:' + ${tipo_imagen} + ';base64,' + ${imagen_empresa}}" alt="logo_empresa" id="img_defecto"/>
				<output id="list"></output>
				<!-- Imagen -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-floppy-open"></span>
					</span>
					<span class="btn btn-danger btn-block btn-file">
						Buscar <input type="file" id="imagen_empresa" name="imagen_empresa"/>
					</span>
				</div>     
			</div>
		</form>
	</div>
	<script>
		function archivo(evt) {
	      	var files = evt.target.files; // FileList object
		       
		     //Obtenemos la imagen del campo "file". 
			for (var i = 0, f; f = files[i]; i++) {         
				//Solo admitimos imágenes.
				if (!f.type.match('image.*')) {
					continue;
				}

				var reader = new FileReader();

				reader.onload = (function(theFile) {
					return function(e) {
						// Creamos la imagen.
						document.getElementById("list").innerHTML = ['<img class="img-responsive imagen" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
						imagen = document.getElementById('img_defecto');
						if(imagen){
							padre = imagen.parentNode;
							padre.removeChild(imagen);
						}
					};
				})(f);

				reader.readAsDataURL(f);
			}
		}
	             
	    document.getElementById('imagen_empresa').addEventListener('change', archivo, false);
	   
	</script>
</body>
</html>