<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/fragments/navbar :: headFragment (pageTitle='Detalles de la Empresa')">
	<meta charset="UTF-8"/>
</head>
<body>
	<div layout:include="/fragments/navbar :: barra-navegacion"></div>
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 20px;">
			<!-- Header -->
			<header>
				<h1>
					<span th:text="${empresa.nombreComercial}"></span>
					<img class="img-logo" th:src="@{'data:' + ${tipo_imagen} + ';base64,' + ${imagen_empresa}}" alt="logo_empresa" height="50"/>
				</h1>
			</header>
		</div>
		<!-- Datos generales -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Datos generales</h3>
				</div>
			 	<div class="panel-body">
			 		
			 		<ul class="details-list">
			 			<li>
			 				<strong>Nombre Comercial: </strong><span th:text="${empresa.nombreComercial}"></span>
			 			</li>
			 			<li>
			 				<strong>Razon Social: </strong><span th:text="${empresa.rsEmpresa}"></span>
			 			</li>
			 			<li>
			 				<strong>RUC: </strong><span th:text="${empresa.rucEmpresa}"></span>
			 			</li>

			 			<li>
							<strong>Telefono: </strong><span th:text="${empresa.telfEmpresa}"></span>
			 			</li>

			 			<li>
			 				<strong>Dirección: </strong><span th:text="${empresa.direccion}"></span>
			 			</li>

			 			<li>
							<strong>Distrito: </strong><span th:text="${empresa.distrito.nomDistrito}"></span>
			 			</li>
			 			
			 		</ul>
	
				</div>
			</div>
		</div>
		<!-- Lista de contactos -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Contactos</h3>
				</div>
			 	<div class="panel-body">
			 		<div th:if="${not #lists.isEmpty(empresa.contactos)}">
				 		<ul>
				 			<li th:each="contacto : ${empresa.contactos}">
				 				<a th:href="@{'/contactos/detalles/' + ${contacto.codEmpresa} + '/' + ${contacto.idContacto}}">
					 				<span th:text="${contacto.nomContacto}"></span>&nbsp;
					 				<span th:text="${contacto.apContacto}"></span>&nbsp;
					 				<span th:text="${contacto.amContacto}"></span>
				 				</a>
				 			</li>
				 		</ul>
			 		</div>
			 		<div th:if="${#lists.isEmpty(empresa.contactos)}">
			 			<img class="img-responsive" alt="contactos" th:src="@{/images/contacts.png}" width="100" height="100" style="margin:auto;"/>
				 		<h3 class="text-center">No hay contactos para mostrar</h3>
			 		</div>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>