<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/fragments/navbar :: headFragment (pageTitle='Buscar Empresas')">
	<meta charset="UTF-8" />
</head>
<body>
	<!-- Barra de navegación -->
	<div layout:include="/fragments/navbar :: barra-navegacion"></div>
	<div class="container">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<!-- Titulo de la pagina -->
			<header>
				<h1>Buscar empresas</h1>
			</header>
			<div th:if="${msj == '1'}" class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			  Se ha eliminado la empresa con éxito
			</div>
			<div th:if="${msj == '2'}" class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			  Se ha actualizado la empresa con éxito
			</div>
			<!-- Formulario de busquedas -->
			<form action="#" th:action="@{/empresas/search}" method="get" id="busq_empresas">			
				<div class="input-group input-group-responsive">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-search"></span>
					</span>
					<input class="form-control" type="search" name="busq" id="busq" placeholder="Busca en empresas"/>
					<div class="input-group-btn">
						<select class="selectpicker" name="campo" id="campo" style="text-align: center;">
								<option value="ruc">RUC</option>
								<option value="nc" >Nombre comercial</option>
								<option value="rs" >Razón Social</option>
						</select>
					</div>
					<div class="input-group-btn">
						<input type="submit" value="Buscar" id="buscar" class="btn btn-success btn-block"/>
					</div>
				</div>
			</form>
			<!-- Tabla de datos -->
			<div class="table-responsive">
				<table class="table table-striped table-hover" style="background-color:#fff;">
					<thead class="bg-success">
						<tr style="color:#fff;">
							<th>RUC</th>
							<th>Nombre comercial</th>
							<th>Razón Social</th>
							<th>Teléfono</th>
							<th colspan="3">Operaciones</th>
						</tr>
					</thead>
					<tbody id="empresas">
						<tr th:fragment="empresas" th:each="empresa : ${empresas}" >
							<td><span th:text="${empresa.rucEmpresa}"></span></td>
							<td><span th:text="${empresa.nombreComercial}"></span></td>
							<td><span th:text="${empresa.rsEmpresa}"></span></td>
							<td><span th:text="${empresa.telfEmpresa}"></span></td>
							<td class="btn-container">
								<a th:href="@{'/empresas/detalles/' + ${empresa.codEmpresa}}" class="btn btn-info btn-circle">
									<i class="glyphicon glyphicon-list"></i>
								</a>
							</td>
							<td class="btn-container">
								<a th:href="@{'/empresas/actualizar/' + ${empresa.rucEmpresa}}" class="btn btn-warning btn-circle">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
							</td>
							<td class="btn-container">
								<button class="btn btn-danger btn-circle btn_borrar" th:value="${empresa.rucEmpresa}" data-toggle="modal" data-target="#myModal">
									<i class="glyphicon glyphicon-trash"></i>
								</button>

							</td>
						</tr>
					</tbody>
				</table>
				
				<!-- Ventana de confirmacion de eliminacion -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Contenido -->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Confirmar Eliminacion</h4>
				      </div>
				      <div class="modal-body">
				        <p>¿Esta seguro/a que desea eliminar la empresa?</p>
				      </div>
				      <div class="modal-footer">
				      	<form class="form-inline" th:action="@{/empresas/delete}" method="post">
							<input type="hidden" id="fila_eliminada" name="ruc"/>
							<button type="submit" class="btn btn-success" id="btn_confirmar">Confirmar</button>
					        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_cancelar">Cancelar</button>
						</form>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		// Asignar evento de borrado
		function asignaEvento() {
			$(".btn_borrar").click(function(event) {
				$("#fila_eliminada").val($(this).val());
			});
	
			$("#btn_cancelar").click(function () { $("#fila_eliminada").val("");});
		}
		
		// Busquedas con Ajax
		$("#busq_empresas").submit(function(e) {
			e.preventDefault();	
			$.ajax({
				url: $(this).attr("/empresas/search"),
				type: $(this).attr("get"),
				data: $(this).serialize(),
				success : function (data) {
					if(data == "") {
						$("#empresas").html("<tr><td><center><span></span> No hay empresas para mostrar</center></td></tr>");
						$("#empresas > tr > td").attr('colspan', 5);
						$("#empresas > tr > td > center > span").attr({
							'class': 'glyphicon glyphicon-search',
							'aria-hidden': 'true'
						});
					} else {
						$("#empresas").html(data);
					}
					
					asignaEvento();
				}
			});
			
		});
		// Fin de Busquedas con Ajax

		$(asignaEvento());

	</script>
</body>
</html>