<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/fragments/navbar :: headFragment (pageTitle='Registro de Empresa')">
	<meta charset="UTF-8"/>
</head>
<body>
	<div layout:include="/fragments/navbar :: barra-navegacion"></div>
	<div class="container">
		<header>
			<h1>Registro de empresas</h1>
		</header>
		<div th:if="${msj != null}" class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong>Felicitaciones!</strong> Ha registrado una empresa con exito
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img class="img-responsive imagen" th:src="@{/images/build.png}" alt="imagen empresa"/>
		</div>
		<br></br>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-form">
			<!-- Formulario de registro de la empresa -->
			<form class="form-horizontal" th:action="@{/empresas/register}" th:object="${empresa_reg}" method="post">
				<!-- Razon Social -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-briefcase"></span>
					</span>	
					<input class="form-control" type="text" id="rs_empresa" placeholder="Razón Social" th:field="*{rsEmpresa}"/>            
				</div>
				<!-- Nombre Comercial -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-copyright-mark"></span>
					</span>
					<input class="form-control" type="text" id="nm_comercial" placeholder="Nombre Comercial" th:field="*{nombreComercial}"/>
				</div>
				<!-- RUC  -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-heart-empty"></span>
					</span>
					<input class="form-control" type="text" id="ruc_empresa" placeholder="RUC" th:field="*{rucEmpresa}"/>
				</div>
				<!-- Teléfono -->                
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-phone-alt"></span>
					</span>
					<input class="form-control" type="text" id="telfEmpresa" placeholder="Teléfono" th:field="*{telfEmpresa}" />
				</div>
				<!-- Direccion -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<input class="form-control" type="text" id="direccion" placeholder="Direccion" th:field="*{direccion}"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<select class="selectpicker form-control" id="dist" data-style="btn-default" data-live-search="true" th:field="*{distrito}" >
						<option th:each="d : ${distritos}" th:value="${d.idDistrito}" th:text="${d.nomDistrito}"></option>
					</select>
				</div>                          
				<input class="btn btn-primary btn-block" type="submit" name="registar" value="Registrar Empresa" />
			</form>
		</div>

	</div>
</body>
</html>