<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Registro de empresa</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/bootstrap-flatly.css}"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/bootstrap-select.min.css}"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/css/styles.css}"/>
	<script type="text/javascript" src="#" th:src="@{/jquery/jquery.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap-select.min.js}"></script>
</head>
<body>
	<header layout:include="/fragments/navbar :: barra-navegacion"></header>
	<div class="container">
		<header>
			<h1>Registro de empresas</h1>
		</header>
		<br></br>
		
		<div th:if="${msj != null}" class="modal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Registro Cliente Exitoso</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Ha ingresado el una nueva empresa con éxito!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img class="img-responsive imagen" th:src="@{/images/build.png}" alt="imagen empresa"/>
		</div>
		<br></br>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-form">
			<!-- Formulario de registro de la empresa -->
			<form class="form-horizontal" th:action="@{/empresas/register}" th:object="${empresa_reg}" method="post">
				<!-- Razon Social -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-briefcase"></span>
					</span>	
					<input class="form-control" type="text" id="rs_empresa" placeholder="Razón Social" th:field="*{rsEmpresa}"/>            
				</div>
				<!-- Nombre Comercial -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-copyright-mark"></span>
					</span>
					<input class="form-control" type="text" id="nm_comercial" placeholder="Nombre Comercial" th:field="*{nombreComercial}"/>
				</div>
				<!-- RUC  -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-heart-empty"></span>
					</span>
					<input class="form-control" type="text" id="ruc_empresa" placeholder="RUC" th:field="*{rucEmpresa}"/>
				</div>
				<!-- Teléfono -->                
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-phone-alt"></span>
					</span>
					<input class="form-control" type="text" id="telfEmpresa" placeholder="Teléfono" th:field="*{telfEmpresa}" />
				</div>
				<!-- Direccion -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<input class="form-control" type="text" id="direccion" placeholder="Direccion" th:field="*{direccion}"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<select 
						class="selectpicker form-control" 
						id="dist"
						name="dist"
						title="Distritos" 
						data-style="btn-default"
					>
						<option 
							th:each="d : ${distritos}" 
							th:value="${d.idDistrito}" 
							th:text="${d.nomDistrito}"
						>
						</option>
					</select>
				</div>                          
				<input class="btn btn-primary btn-block" type="submit" name="registar" value="Registrar Empresa" />
			</form>
		</div>

	</div>
</body>
</html>