<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="/fragments/navbar :: headFragment (pageTitle='Actualizar Contacto')">
	<meta charset="UTF-8"/>
</head>
<body>
	<div layout:include="/fragments/navbar :: barra-navegacion"></div>
	<div class="container">
		<header>
			<h1>Actualizar Contacto: <span th:text="${contacto_mod}"></span></h1>
		</header>
	
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img class="img-responsive imagen" th:src="@{/images/build.png}" alt="imagen empresa"/>
		</div>
		<br></br>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-form">
			
			<!-- Formulario de actualización de contactos -->
			<form class="form-horizontal" th:action="@{/contactos/modify}" th:object="${contacto_mod}" method="post">
				
				<input type="hidden" th:value="*{idContacto}" th:field="*{idContacto}"/>
				<input type="hidden" th:value="*{codEmpresa}" th:field="*{codEmpresa}"/>
				<!-- Nombres -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-user"></span>
					</span>	
					<input class="form-control" type="text" id="nom_contacto" placeholder="Nombres" th:field="*{nomContacto}" readonly="readonly"/>            
				</div>
				<!-- Apellido Paterno -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input class="form-control" type="text" id="ap_contacto" placeholder="Apellido Paterno" th:field="*{apContacto}" readonly="readonly"/>
				</div>
				<!-- Apellido Materno  -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input class="form-control" type="text" id="am_contacto" placeholder="Apellido Materno" th:field="*{amContacto}" readonly="readonly"/>
				</div>
				<!-- Teléfono -->                
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-phone-alt"></span>
					</span>
					<input class="form-control" type="text" id="telfContacto" placeholder="Teléfono" th:field="*{telfContacto}" />
				</div>
				
				<!-- Correo Electrónico -->                
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
					<input class="form-control" type="email" id="correo_elec" placeholder="Correo Electrónico" th:field="*{correoElec}" />
				</div>
				
				<!-- Empresa -->
				<div class="input-group">
					<span class="input-group-addon" id="icon-search">
						<span class="glyphicon glyphicon-briefcase"></span>
					</span>
					<select class="selectpicker form-control" id="empresas" data-style="btn-default" data-live-search="true" th:field="*{empresa}">
						<option th:each=" e : ${empresas}" th:value="${e.codEmpresa}" th:text="${e.nombreComercial}" th:selected="${contacto_mod.empresa.nombreComercial == e.nombreComercial}"></option>
					</select>
				</div>                          
				<input class="btn btn-warning btn-block" type="submit" name="actualizar" value="Actualizar Contacto" />
			</form>
		</div>

	</div>
</body>
</html>