<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment (pageTitle)">
	<meta charset="UTF-8" />
	<title th:text="${pageTitle}">Template title</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/bootstrap-flatly.css}"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/bootstrap-select.min.css}"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/css/styles.css}"/>
	<!-- Bootstap Core JS-->
	<script type="text/javascript" src="#" th:src="@{/jquery/jquery.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap-select.min.js}"></script>
</head>
<body>
<div class="row" layout:fragment="barra-navegacion">
	<!-- Barra de navegación -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/beneficios/" style="padding:10px;display:flex; align-items:center; width:250px;"> 
					<img th:src="@{/images/favicon.png}" alt="logo" width="50" height="40"/>
					Beneficios Roche
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<!--Beneficios-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							<span class="glyphicon glyphicon-gift" aria-hidden="true"></span> &nbsp; Beneficios 
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="#">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									&nbsp; Buscar beneficios
								</a>
							</li>
							<li class="dropdown-item">
								<a href="#">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									&nbsp; Registar beneficio
								</a>
							</li>
						</ul>
					</li>
					<!--Contactos-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
							&nbsp; Contactos 
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="#" th:href="@{/contactos}">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									&nbsp; Buscar contactos
								</a>
							</li>
							<li class="dropdown-item">
								<a href="#" th:href="@{/contactos/new}"> 
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									&nbsp; Registar contacto
								</a>
							</li>
						</ul>
					</li>
					<!--Empresas-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> 
							&nbsp; Empresas 
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a th:href="@{/empresas/}">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									&nbsp; Buscar empresas
								</a>
							</li>
							<li class="dropdown-item">
								<a th:href="@{/empresas/new}"> 
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									&nbsp; Registar empresa
								</a>
							</li>
						</ul>
					</li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Cerrar Sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
</body>
</html>


