<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
	<title>Página no encontrada</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/bootstrap-flatly.css}"/>
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/css/styles.css}"/>
	<script type="text/javascript" src="#" th:src="@{/jquery/jquery.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container centrado-porcentual">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<figure>
				<img th:src="@{/images/favicon.png}" alt="logo-beneficios" class="img-responsive"/>
			</figure>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<header>
				<h1>Página no encontrada</h1>
			</header>
			<p>
				<br></br>
				<h3>HTTP Error 404</h3>
				<br></br>
				La página que esta buscando no se encuentra en el servidor, 
				por favor introduzca una dirección correcta o presione el
				boton inferior para regresar a la pagina de inicio.
				<br></br>
				<a href="#" th:href="@{/adm/}" class="btn btn-primary btn-block" style="margin-top: 30px;">Volver al inicio</a>
			</p>
		</div>
	</div>
</body>
</html>