<!DOCTYPE html>
<html 
	lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:include="/fragments/head :: headFragment (pageTitle='Registro de Beneficios')">
   <meta charset="utf-8"/>
</head>
<body>
   <!-- Barra de navegación -->
   <div layout:include="/fragments/navbar :: barra-navegacion"></div>
   <div class="container">
      <link rel="stylesheet" type="text/css" href="#" th:href="@{/bootstrap/css/select.min.css}"/>
      <script type="text/javascript" src="#" th:src="@{/bootstrap/js/select.min.js}"></script>
      <script type="text/javascript">
         $('body').ready(function($){
            $('select').extendSelect({
               dropdownResize: true
            });   
         });
      </script>
      <div class="row mb-4 mt-4">
         <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 bg-light mx-auto">
            <form class="form" th:action="@{/beneficios/register}" th:object="${beneficio}" method="post" enctype="multipart/form-data">
               <div class="form-row" >
                  <!-- Titulo de la pagina -->
                  <header class="col-12 p-3 mt-2">
                     <h1>Registrar beneficio</h1>
                  </header>
                  <div 
                     th:if="${msj != null}" 
                     th:include="/fragments/alert :: alerta(mensaje='Felicitaciones! Ha registrado una beneficio con éxito', tipo='info')"
                  ></div>

                  <!-- Descripcion Corta del beneficio -->
                  <div class="col-12 p-3 mt-2">
                     <label for="desc_corta">Descricion Corta</label>
                     <input id="desc_corta" class="form-control" type="text" th:field="*{descripcionCorta}" placeholder="Descricion Corta" />
                  </div>

                  <!-- Imagen -->
                  <div class="col-12 p-3 mt-2">
                     <label for="imagen_beneficio">Imagen</label>
                     <img class="img-responsive imagen mx-auto d-block" th:src="@{/images/imagen.png}" alt="imagen beneficio" id="img_defecto"/>
                     <output id="list"></output>   
                     <span class="btn btn-info btn-block btn-file">
                        <span class="fa fa-upload"></span>
                        Buscar 
                        <input type="file" id="imagen_beneficio" name="imagen_beneficio" required="true"/>
                     </span>
                  </div>
                  
                  <!-- Imagen Promo-->
                  <div class="col-12 p-3 mt-2">
                     <label for="imagen_demo">Miniatura</label>
                     <img class="img-responsive imagen mx-auto d-block" th:src="@{/images/imagen.png}" alt="imagen beneficio" id="img_defecto2"/>
                     <output id="list2"></output>   
                     <span class="btn btn-info btn-block btn-file">
                        <span class="fa fa-upload"></span>
                        Buscar 
                        <input type="file" id="imagen_demo" name="imagen_demo" required="true"/>
                     </span>
                  </div>

                  <!-- Descripcion -->
                  <div class="col-12 p-3 mt-2">
                     <label for="descripcion">Descripción</label>
                     <textarea id="descripcion" th:field="*{descripcion}"></textarea>
                  </div>

                  <!-- Detalle -->
                  <div class="col-12 p-3 mt-2">
                     <label for="detalle-beneficio">Detalle</label>
                     <textarea id="detalle-beneficio" th:field="*{detalleBeneficio}"></textarea>
                  </div>

                  <!-- Contacto -->
                  <div class="col-12 p-3 mt-2">
                     <label for="contacto">Contacto</label>
                     <select class="form-control" id="contacto" data-btn-class="btn-warning btn-block" data-live-search="true" th:field="*{contacto}" title="Selecccione el contacto">
                        <option th:each="c : ${contactos}" th:value="@{__${c.idContacto}__,__${c.codEmpresa}__}" th:text="@{__${c}__-__${c.empresa.nombreComercial}__}"></option>
                     </select>
                  </div>
                  
                  <!-- Categorías -->
                  <div class="col-12 p-3 mt-2">
                     <label for="categoria">Categoría</label>
                     <select class="form-control" id="categoria" data-btn-class="btn-success btn-block" data-live-search="true" th:field="*{categoria}" title="Selecccione el categoria">
                        <option th:each="ctg : ${categorias}" th:value="${ctg.idCategoria}" th:text="${ctg.descCategoria}"></option>
                     </select>
                  </div>
						<!-- Estado -->
						<input type="hidden" id="estado" th:field="*{estado}" value="true"/>
                  <!-- Consideraciones -->
                  <div class="col-12 p-3 mt-2 mb-2">
                     <label class="mr-3">Consideraciones</label>
                     <button type="button" id="add-cons" class="btn btn-success mr-3">
                        <i class="fa fa-plus-circle"></i>
                     </button>
                     <section class="mt-3">
                        <ul class="list-group" id="cons-list">

                        </ul>
                     </section>
                  </div>
                  <!-- Enviar formulario -->
                  <div class="col-12 p-3 mt-2 mb-2">
                     <button class="btn btn-success btn-block" type="submit">
                        <i class="fa fa-floppy-o"></i>
                        Registrar Beneficio
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script th:src="@{/scripts/subir_archivo.js}"></script>
   <script>
      $(document).ready(function() {
         $("#descripcion").summernote({
            placeholder:"Aqui podrá introducir la descripcion del beneficio",
            tabsize: 2,
            height: 200
         });
         $("#detalle-beneficio").summernote({
            placeholder:"Aqui podrá introducir el detalle el beneficio",
            tabsize: 2,
            height: 200
         });
         
         $("#add-cons").click((e) => {
            elements = $("#cons-list").find('li.list-group-item').length;
            
            $("#cons-list").append(`
               <li class="list-group-item">
                  <div class="input-group">
                     <input
                        class="nro-beneficio"
                        type="hidden"  
                        name="consideraciones[${elements}].nroBeneficio"
                        th:value="${beneficio.nroBeneficio}"
                     />
                     <input 
                        class="nro-consideracion"
                        type="hidden"  
                        name="consideraciones[${elements}].nroConsideracion" 
                        value="${elements + 1}"
                     />
                     <input
                        class="form-control consideracion" 
                        type="text" 
                        name="consideraciones[${elements}].consideracion" 
                        id="consideracion${elements}.consideracion"
                     />
                     <div class="input-group-append">
                        <button type="button" class="btn btn-danger remove-cons">
                           <i class="fa fa-minus-circle"></i>
                        </button>
                     </div>
                  </div>
               </li>`
            );

            botonBorrarEvento();
         });

         botonBorrarEvento();

         function botonBorrarEvento() {
            $(".remove-cons").on('click', function(){
               
               var listItem = $(this).closest('li.list-group-item');
               
               listItem.siblings().each(function(index){
                  $(this).find('input.nro-beneficio').attr({
                     name: `consideraciones[${index}].nroBeneficio`
                  });

                  $(this).find('input.nro-consideracion').attr({
                     name: `consideraciones[${index}].nroConsideracion`,
                     value:`${index + 1}`
                  });

                  $(this).find('input.consideracion').attr({
                     name: `consideraciones[${index}].consideracion`,
                     id:`consideracion${index}.consideracion`
                  });
               });

               listItem.remove();
            });         
         }

         document.getElementById('imagen_beneficio').addEventListener('change', (e) => archivo(e,'list','img_defecto'), false);
         document.getElementById('imagen_demo').addEventListener('change', (e) => archivo(e, 'list2','img_defecto2'), false);
      });
   </script>
</body>
</html>
